@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
        line-height: 1.5;
        font-weight: 400;

        color-scheme: light dark;
        color: rgba(255, 255, 255, 0.87);
        background-color: #242424;

        font-synthesis: none;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    html,
    body,
    #root {
        height: 100%;
        width: 100%;
        overflow: hidden;
        overscroll-behavior: none;
    }

    body {
        @apply bg-white dark:bg-zinc-900 text-zinc-900 dark:text-zinc-100;
    }
}